* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#messages-card {
    max-height: 90vh;
    width: 100%;
    overflow-y: auto;
}

#messages-card::-webkit-scrollbar {
    display: none;
}

.right-div {
    display: flex;
    justify-content: end;

    padding-left: 2rem;
}

.right-span {
    background-color: green;
    color: white;
    font-weight: 500;
}

.left-div {
    display: flex;
    justify-content: start;
    padding-right: 2rem;
}

.left-span {
    background-color: rgb(29, 32, 29);
    color: white;
    font-weight: 500;
}


#modal-box {
    display: none;
}

.input-modal-container {
    width: 30%;
}


@media (max-width:720px) {
    .input-modal-container {
        width: 90%;
    }

}